/web/bundles/
/web/css/
/web/js/
/app/config/parameters.yml
/app/phpunit.xml
/build/
/vendor/
/bin/
/.idea/
/composer.phar
/tmp
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/phpunit.xml
