<div id="tip-#id#" class="callout callout-info">
    <h4>
        Уведомление клиенту (#name#) от
        <strong>#date#</strong>
    </h4>
    <p>
        Необходимо напомнить клиету
        <strong><a href="#" class="client-details" msisdn="#msisdn#"> #name#</a></strong>
        по телефону
        <strong><a href="#" class="client-details" msisdn="#msisdn#"> #msisdn#</a></strong>
        о повторном визите. Комментарий к напоминанию
        <strong>"#description#"</strong>
    </p>
    <button id="#id#" class="btn btn-primary btn-sm btn-remind" tip="tip-#id#" type="button">Обработать</button>
    <button class="btn btn-info btn-sm client-details" type="button" msisdn="#msisdn#">Инфо.</button>
</div>