<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% stylesheets
    '../app/Resources/public/bootstrap/css/bootstrap-theme.min.css'
    '../app/Resources/public/bootstrap/css/bootstrap.min.css'
    '@OrtofitSingUpBundle/Resources/public/css/singUp.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts
    '../app/Resources/public/js/jquery.js'
    '@OrtofitSingUpBundle/Resources/public/js/signUp.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div style="text-align: center" class="container">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>