<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% stylesheets
    '../app/Resources/public/bootstrap/css/bootstrap-theme.min.css'
    '../app/Resources/public/bootstrap/css/bootstrap.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    '../app/Resources/public/js/jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
{% block body %}
{% endblock %}
<div style="text-align: center" class="container">

</div>

</body>
</html>