parameters:
    database_driver: pdo_pgsql
    database_host: localhost
    database_port: null
    database_name: ortofit
    database_user: ortofit
    database_password: null

    mailer_from: from@mail.com
    mailer_to: to@mail.com
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_encryption: tls
    mailer_user: null
    mailer_password: null

    secret: ThisTokenIsNotSoSecretChangeIt
