<ul class="pagination" style="margin: auto">
    {% if paginator.previous == null %}
        <li id="previous" class="paginate_button previous disabled">
            <span>Previous</span>
        </li>
    {% else %}
        <li id="previous" class="paginate_button previous">
            <a href="{{ url('bf_client',{'page':paginator.previous, 'msisdn':msisdn}) }}"
               aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
        </li>
    {% endif %}


    {% for i in 1..paginator.count %}
        <li class="paginate_button {% if i == paginator.current %} active {% endif %}">
            <a href="{{ url('bf_client',{'page':i, 'msisdn':msisdn}) }}">{{ i }}</a>
        </li>
    {% endfor %}

    {% if paginator.next == null %}
        <li id="next" class="paginate_button next disabled">
            <span>Next</span>
        </li>
    {% else %}
        <li id="next" class="paginate_button next">
            <a href="{{ url('bf_client',{'page':paginator.next, 'msisdn':msisdn}) }}">Next</a>
        </li>
    {% endif %}
</ul>