<div id="tip-#id#" class="callout callout-danger lead">
    <h4>
        Интернет заявка на прием от
        <strong>#date#</strong>
    </h4>
    <p>
        Прошу перезвонить мне по тел. #msisdn# и записать на прием.
    </p>
    <button id="#id#" class="btn btn-primary btn-sm btn-order" tip="tip-#id#" type="button">Обработать</button>
</div>