{% extends 'OrtofitBackOfficeFrontBundle:Layout:layout.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Уведомления
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('bf_remind_index') }}"><i class="fa fa-bell-o"></i>Уведомления</a></li>
        </ol>
    </section>
    <!-- content -->
    <section class="content">

    </section>
    <script>
        $(document).ready(function () {
            var ctrl = BackOffice.Remind;
            ctrl.dataPath    = '{{ url('api_app_reminder_get') }}';
            ctrl.processPath = '{{ url('api_app_reminder_process') }}';
            ctrl.init();
        });
    </script>
{% endblock %}

